extends /common/layout

block head
  title='Edit Rushee'

block content
  .rushee-wrapper
    h1.title Edit a Rushee
    .rushee-content.clearfix
    form.rushee-add-content(enctype = 'multipart/form-data')
      .rushee-add-info
        .rushee-add-item.rushee-id
          input.rushee-add-data(type='hidden',name='rID',value=rushee._id)
        .rushee-add-item.rushee-first-name
          span.rushee-add-type First Name
          input.rushee-add-data(name='first',required,value=rushee.first)
        .rushee-add-item.rushee-last-name
          span.rushee-add-type Last Name
          input.rushee-add-data(name='last',required,value=rushee.last)
        .rushee-add-item.rushee-nickname
          span.rushee-add-type Nickname
          input.rushee-add-data(name='nick',value=rushee.nick)
        .rushee-add-item.rushee-dorm
          span.rushee-add-type Dorm
          input.rushee-add-data(name='dorm',value=rushee.dorm)
        .rushee-add-item.rushee-phone
          span.rushee-add-type Phone
          input.rushee-add-data(name='phone',value=rushee.phone)
        .rushee-add-item.rushee-email
          span.rushee-add-type Email
          input.rushee-add-data(name='email',value=rushee.email)
        .rushee-add-item.rushee-year
          span.rushee-add-type Year
          select.rushee-add-data(name='year')
            -var years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
            -for (var i = 0; i < years.length; i++)
              -if (rushee.year === years[i])
                option(value='#{years[i]}', selected) #{years[i]}
              -else
                option(value='#{years[i]}') #{years[i]}
        .rushee-add-item.rushee-photo-old
          input.rushee-add-data(type='hidden',name='photoOld',value=rushee.photo)
        .rushee-add-item.rushee-photo
          span.rushee-add-type Photo
          input.rushee-add-data(type='file',name='photo')
          
        -var frats1 = ['Alpha-Delta-Phi', 'Alpha-Epsilon-Pi', 'Chi-Phi', 'Delta-Kappa-Epsilon'];
        -var frats2 = ['Delta-Tau-Delta', 'Delta-Upsilon', 'Kappa-Sigma', 'Lambda-Chi-Alpha'];
        -var frats3 = ['Nu-Delta', 'Phi-Beta-Epsilon', 'Phi-Delta-Theta', 'Phi-Kappa-Sigma'];
        -var frats4 = ['Phi-Kappa-Theta', 'Phi-Sigma-Kappa', 'Pi-Lambda-Phi', 'Sigma-Alpha-Epsilon'];
        -var frats5 = ['Sigma-Chi', 'Sigma-Nu', 'Sigma-Phi-Epsilon', 'Tau-Epsilon-Phi'];
        -var frats6 = ['Theta-Chi', 'Theta-Delta-Chi', 'Theta-Xi', 'Zeta-Beta-Tau'];
        -var frats7 = ['Zeta-Psi'];
        -var frats8 = ['Beta-Theta-Pi', 'Alpha-Sigma-Psi'];
        -var frats = frats1.concat(frats2, frats3, frats4, frats5, frats6, frats7, frats8);
        -if (accountType.isAdmin())
          .rushee-add-item.rushee-cross1
            span.rushee-add-type Cross Rush 1
            select.rushee-add-data(name='cross1')
              option(value='None') None
              -for (var i = 0; i < frats.length; i++)
                -if (rushee.cross1 === frats[i])
                  option(value='#{frats[i]}', selected) #{frats[i]}
                -else
                  option(value='#{frats[i]}') #{frats[i]}
          .rushee-add-item.rushee-cross2
            span.rushee-add-type Cross Rush 2
            select.rushee-add-data(name='cross2')
              option(value='None') None
              -for (var i = 0; i < frats.length; i++)
                -if (rushee.cross2 === frats[i])
                  option(value='#{frats[i]}', selected) #{frats[i]}
                -else
                  option(value='#{frats[i]}') #{frats[i]}
          .rushee-add-item.rushee-visible
            span.rushee-add-type Visible
            -if (rushee.visible)
              input(type='checkbox',name='visible', checked)
            -else
              input(type='checkbox',name='visible')
          .rushee-add-item.rushee-priority
            span.rushee-add-type Priority
            -if (rushee.priority)
              input(type='checkbox',name='priority', checked)
            -else
              input(type='checkbox',name='priority')
          .rushee-add-item.rushee-eligible
            span.rushee-add-type Eligible
            -if (rushee.eligible)
              input(type='checkbox',name='eligible', checked)
            -else
              input(type='checkbox',name='eligible')
          .rushee-add-item.rushee-chID
            span.rushee-add-type Clearinghouse ID
            input.rushee-add-data(name='chID',value=rushee.chID || '')
      .rushee-post
        input#save(type='submit',formmethod='post',formaction='#',value='Submit')
 