extends /common/layout

block head
  title='Edit Rushee'

block content
  .rushee-wrapper
    h1.title Edit a Rushee
    .rushee-content.clearfix
    form.rushee-add-content(enctype = 'multipart/form-data')
      .rushee-add-info
        .rushee-add-item.rushee-id
          input.rushee-add-data(type='hidden',name='rID',value=rushee._id)
        .rushee-add-item.rushee-first-name
          span.rushee-add-type First Name
          input.rushee-add-data(name='first',required,value=rushee.first)
        .rushee-add-item.rushee-last-name
          span.rushee-add-type Last Name
          input.rushee-add-data(name='last',required,value=rushee.last)
        .rushee-add-item.rushee-nickname
          span.rushee-add-type Nickname
          input.rushee-add-data(name='nick',value=rushee.nick)
        .rushee-add-item.rushee-dorm
          span.rushee-add-type Dorm
          input.rushee-add-data(name='dorm',value=rushee.dorm)
        .rushee-add-item.rushee-phone
          span.rushee-add-type Phone
          input.rushee-add-data(name='phone',value=rushee.phone)
        .rushee-add-item.rushee-email
          span.rushee-add-type Email
          input.rushee-add-data(name='email',value=rushee.email)
        .rushee-add-item.rushee-year
          span.rushee-add-type Year
          select.rushee-add-data(name='year')
            each year in ['Freshman', 'Sophomore', 'Junior', 'Senior']
              option(value=year, selected=rushee.year === year) #{year}
        .rushee-add-item.rushee-photo-old
          input.rushee-add-data(type='hidden',name='photoOld',value=rushee.photo)
        .rushee-add-item.rushee-photo
          span.rushee-add-type Photo
          input.rushee-add-data(type='file',name='photo')
          
        -var frats1 = ['Alpha-Delta-Phi', 'Alpha-Epsilon-Pi', 'Chi-Phi', 'Delta-Kappa-Epsilon'];
        -var frats2 = ['Delta-Tau-Delta', 'Delta-Upsilon', 'Kappa-Sigma', 'Lambda-Chi-Alpha'];
        -var frats3 = ['Nu-Delta', 'Phi-Beta-Epsilon', 'Phi-Delta-Theta', 'Phi-Kappa-Sigma'];
        -var frats4 = ['Phi-Kappa-Theta', 'Phi-Sigma-Kappa', 'Pi-Lambda-Phi', 'Sigma-Alpha-Epsilon'];
        -var frats5 = ['Sigma-Chi', 'Sigma-Nu', 'Sigma-Phi-Epsilon', 'Tau-Epsilon-Phi'];
        -var frats6 = ['Theta-Chi', 'Theta-Delta-Chi', 'Theta-Xi', 'Zeta-Beta-Tau'];
        -var frats7 = ['Zeta-Psi'];
        -var frats8 = ['Beta-Theta-Pi', 'Alpha-Sigma-Psi'];
        -var frats = frats1.concat(frats2, frats3, frats4, frats5, frats6, frats7, frats8);
        if accountType.isAdmin()
          .rushee-add-item.rushee-cross1
            span.rushee-add-type Cross Rush 1
            select.rushee-add-data(name='cross1')
              option(value='None') None
              each frat in frats
                option(value=frat, selected=rushee.cross1 === frat) #{frat}
          .rushee-add-item.rushee-cross2
            span.rushee-add-type Cross Rush 2
            select.rushee-add-data(name='cross2')
              option(value='None') None
              each frat in frats
                option(value=frat, selected=rushee.cross2 === frat) #{frat}
          .rushee-add-item.rushee-visible
            span.rushee-add-type Visible
            input(type='checkbox',name='visible', checked=rushee.visible)
          .rushee-add-item.rushee-priority
            span.rushee-add-type Priority
            input(type='checkbox',name='priority', checked=rushee.priority)
          .rushee-add-item.rushee-eligible
            span.rushee-add-type Eligible
            input(type='checkbox',name='eligible', checked=rushee.eligible)
          .rushee-add-item.rushee-chID
            span.rushee-add-type Clearinghouse ID
            input.rushee-add-data(name='chID',value=rushee.chID || '')
          .rushee-add-item.rushee-mitID
            span.rushee-add-type MIT ID
            input.rushee-add-data(name='mitID',value=rushee.mitID || '')
      .rushee-post
        input#save(type='submit',formmethod='post',formaction='#',value='Submit')
 