extends /common/layout
include /common/mixins

block head
  title='View History'
  link(rel='stylesheet',href=basepath+'/css/viewhistory.css')

block content
  .history-wrapper
    h2.title View History
    ul.history-content
      each history in fullHistory
        case history.historyType
          when 'comment'
            +comment(history, accountType, basepath, {brother: true, rushee:true})
          when 'status'
            li.vote-wrapper
              .vote-content
                .vote-text
                 span.comment-header-element.comment-name
                  +rusheeName(history.rushee, accountType, basepath)
                 span.comment-header-element was marked
                 span.comment-header-element(style='color:#{history.type.color}; font-weight:bold;') #{history.type.name}
              .comment-time #{history.time}
          when 'vote'
            li.vote-wrapper
              .vote-content
                .vote-text
                  span.comment-header-element.comment-name
                    +brotherName(history.brother, accountType, basepath)
                  span.comment-header-element voted
                  span.comment-header-element #{history.type.name}
                  span.comment-header-element on
                  span.comment-header-element
                    +rusheeName(history.rushee, accountType, basepath)
                .comment-time #{history.time}


