extends /common/layout
include /common/mixins

block head
  title='Voting'
  link(rel='stylesheet',href=basepath+'/css/vote.css')
  script(type='text/javascript',src=basepath+'/js/vendor/jquery-1.8.3.min.js')
  script(type='text/javascript',src=basepath+'/js/vote.js')

  link(rel='stylesheet',href=basepath+'/js/vendor/chosen_v1.1.0/chosen.min.css')
  script(type='text/javascript',src=basepath+'/js/vendor/chosen_v1.1.0/chosen.jquery.min.js')
  script(type='text/javascript',src=basepath+'/js/vendor/chosen_v1.1.0/chosen.proto.min.js')
  script(type='text/javascript',src=basepath+'/js/activateTypeahead.js')


block content
  .rushee-wrapper
    +rushee(rushee, accountType, basepath, options={largeimg : true, edit: true})

  if accountType.isAdmin()
    .brother-action-wrapper
      form.brother-action-content(method='post',action=basepath+'/jaunt/pushRusheeToVan')
        span.brother-action-type Add to van
        input(type='hidden',name='rID',value=rushee._id)
        select.jaunt-van-list(name='vID')
          each jaunt in jaunts
            each van in jaunt.vans
              option(value=van._id) #{jaunt.name + ': ' + van.name}
        .post-wrapper
          input#save(type='submit',value='Submit')

  .brother-action-wrapper
    form.brother-action-content
      input(type='hidden',name='rID',value=rushee._id)
      if brother === null
        .brother-wrapper
          span.brother-action-type Name
          select.brother-list#brothers(name='bID')
            each b in brothers
              option(value=b._id, selected=brotherID === b._id) #{b.lastfirst}
         button#brother-select-button(formmethod='get',formaction=basepath+'/rushee/view',value='Select') Select
      else
        input(type='hidden',name='bID',value=brother._id)
        .brother-wrapper
          span.brother-action-type Name
          span.brother-info#brother-name #{brother.name}
        .sponsor-wrapper
          .sponsor-content
            span.brother-action-type Sponsor
            input.span-space#sponsorYes(type='radio',name='sponsor',value='Yes',checked=brother.sponsorBy[rushee._id].sponsor)
            label.sponsor-choice(for='sponsorYes') Yes
            input.span-space#sponsorNo(type='radio',name='sponsor',value='No',checked=!brother.sponsorBy[rushee._id].sponsor)
            label.sponsor-choice(for='sponsorNo') No
        .vote-wrapper
          .vote-content
            span.brother-action-type Vote
            if brother.met
              each voteType, i in voteTypes
                - var bid = rushee.voteBy[brother._id].type._id;
                - var vid = voteType._id;
                // visible if they voted or they're allowed to vote met
                if bid === vid || vid !== 'MET' || brother.met
                  input.span-space(id='vote' + i,type='radio',name='vote',value=voteType._id,checked=bid==vid)
                  label.vote-choice(for='vote' + i) #{voteType.name}
        .action-comment-wrapper
          - for (var j = 0; j < 2; j++)
            .action-comment-content.clearfix
              span.brother-action-type Comment (optional)
              .action-comment-textarea-wrapper
                textarea#comment-textarea(name='comment' + j,rows=5,cols=40)
              .action-comment-type
                span.brother-action-type Type
                select(name='commentType' + j)
                  each commentType in commentTypes
                    option(value=commentType._id) #{commentType.name}
              .action-comment-jaunt
                span.brother-action-type Jaunt
                select#comment-jaunt(name='commentJaunt' + j)
                  option(value='null') None
                  each jaunt in jaunts
                    option(value=jaunt._id) #{jaunt.name}
        .post-wrapper
          input#save(type='submit',formmethod='post',formaction=basepath+'/rushee/view',value='Submit')
          input#done(type='submit',formmethod='get',formaction=basepath+'/',value='Back to rushees')

  .votes-wrapper
    h2.title Votes
    button.votes-button.spoiler-button(type='button') Show/hide
    .votes-content.spoiler-content
      table.votes-table
        tr.votes-header-row
          th.votes-header-name Brother Name
          each voteType in voteTypes
            th.votes-header-cell #{voteType.name}
        each vote in rushee.sortedVotes
          -var bid = vote.type._id;
          tr.votes-row
          td.votes-name #{vote.brother.name}
            each voteType in voteTypes
              -var vid = voteType._id;
              if (bid == vid)
                td.votes-cell.votes
                  if (voteType.value < 0)
                    strong(style='color:red; font-weight:bold;') X
                  else
                    strong X
              else
                td.votes-cell.votes
        if (accountType.isMeeting())
          tr.votes-row
          td.votes-name
            strong Sum
          each voteType in voteTypes
            -var voteCount = rushee.countVotesByType[voteType._id];
            td.votes-cell.votes
              if (voteType.value < 0 && voteCount > 0)
                strong(style='color:red; font-weight:bold;') #{voteCount}
              else
                strong #{voteCount}

  .comment-thread-wrapper
    h2.title Comments
      if (accountType.isAdmin())
        a(href=basepath+'/rushee/history?rID='+rushee._id) (View History)
    ul.comment-thread-content
      each comment in rushee.comments
        +comment(comment, accountType, basepath, {brother: true})
