extends /common/layout

block head
  title='View all Rushee Votes'  
  link(rel='stylesheet',href=basepath+'/css/viewbrothersvote.css')

block content
  .rushees-wrapper
    h1.rushees-title View all rushees votes
    .votes-wrapper
      h2.title Votes
      form.votes-sort-form
        input(type='radio', name = 'sortMethod', value='total', checked=(sortMethod==='total' || !sortMethod)).votes-sort-option
        label.votes-sort-option-label(for='total') Vote Total
        input(type='radio', name = 'sortMethod', value='score', checked=(sortMethod==='score')).votes-sort-option
        label.votes-sort-option-label(for='score') Vote Score
        input(type='submit',formmethod='get',formaction=basepath+'/rushee/votes', value='Sort')
      .votes-content
        table.votes-table
          tr.votes-header-row
            th.votes-status Status
            th.votes-header-name Rushee Name
            each voteType in voteTypes
              th.votes-header-cell #{voteType.name}
            th.votes-header-cell Vote Score
            th.votes-header-cell Total Votes
            th.votes-header-cell Sponsor(s)
            th.votes-header-cell Last seen
            th.votes-header-cell Last contact

          each r in rushees
            -var votesRowClass = 'votes-row';
            -votesRowClass += r.visible !== false ? '' : ' votes-hidden';
            tr(class=votesRowClass)
              td.votes-status
                .rushee-status(style='color:' + r.status.type.color + ';')
                  | #{r.status.type.name}
              td.votes-name
                a.rushee-name(href=basepath+'/rushee/view?rID='+r._id) #{r.name}
                each voteType in voteTypes
                  -var voteCount = r.countVotesByType[voteType._id]
                  if voteType.value >= 0 || voteCount === 0
                    td.votes-cell #{voteCount}
                  else
                    td.votes-cell(style='color:red; font-weight:bold;') #{voteCount}
              -var bidworthyClass = '';
              if r.bidworthy
                -bidworthyClass = 'bidworthy';
              else if r.voteTotalFraction >= 1/2
                -bidworthyClass = 'unbidworthy';
              else if r.voteScoreFraction >= 3/4
                -bidworthyClass = 'possible-bidworthy'
              td.votes-cell(class=bidworthyClass) #{r.voteScore} (#{(r.voteScoreFraction * 100).toFixed(1)})
              td.votes-cell #{r.voteTotal} (#{(r.voteTotalFraction * 100).toFixed(1)})
              td.votes-cell
                if r.sponsorsNameList.length > 0
                  .rushee-info-data #{r.sponsorsNameList.join(', ')}
                else
                  .rushee-info-data.missing-sponsor NEED SPONSOR
              if r.status.type._id === 'OUT'
                td.votes-cell #{r.status.shorttime}
              else
                td.votes-cell In/jaunt
                
              -var comtime  = 'None';
              -for (var j = 0; j < r.comments.length; j++)
                if (r.comments[j].type._id === 'CONTACT')
                  -comtime = r.comments[j].shorttime
                  -break;
              td.votes-cell #{comtime}