extends /common/layout

block head
  title='Front Desk'  
  link(rel='stylesheet',href=basepath+'/css/viewall.css')
 

block content
  .frontdesk-wrapper
    .rushees-wrapper
      h1.rushees-title Front Desk
      form.rushees-search
        .search-bar
          input#search(type='text', name = 'q', value = q)
          input(type='submit',formmethod='get',formaction=basepath+'/frontdesk', value='Search')
        .search-options
          input#inhouse(type='checkbox', name = 'inhouse', checked=inhouse === 'on')
          label.toggle-choice(for='inhouse') In

          input#outhouse(type='checkbox', name = 'outhouse', checked=outhouse === 'on')
          label.toggle-choice(for='outhouse') Out

          input#onjaunt(type='checkbox', name = 'onjaunt', checked=onjaunt === 'on')
          label.toggle-choice(for='onjaunt') Jaunt
          
          if accountType.isAdmin()
            input#hidden(type='checkbox', name = 'hidden', checked=hidden === 'on')
            label.toggle-choice(for='hidden') Hidden

            input#candidate(type='checkbox', name = 'candidate', checked=candidate === 'on')
            label.toggle-choice(for='candidate') Cand
          
      ul.rushees-list
        each rushee in rushees
          - var idName = rushee.candidate ? 'cID' : 'rID';
          li.rushee-wrapper
            .rushee-content.clearfix
              .rushee-info
                .rushee-info-item
                  span.rushee-name #{rushee.name}
                    if accountType.isAdmin() && rushee.visible === false
                      |  (hidden)
                    if accountType.isAdmin() && rushee.candidate === true
                      |  (cand)
                form.rushee-action
                  input(type='hidden',name='redirect',value='/frontdesk')
                  input(type='hidden',name=idName,value=rushee._id)
                  if rushee.chID !== undefined && rushee.chID !== null
                    input(type='hidden',name='chID',value=rushee.chID)
                  if rushee.status.type === StatusType.OUT || rushee.status.type === StatusType.NULL
                    input(type='submit',formmethod='post',formaction=basepath+'/frontdesk/inhouse',value='In house')
                  else
                    input(type='submit',formmethod='post',formaction=basepath+'/frontdesk/outhouse',value='Going out')
                  if rushee.status.type === StatusType.OUT || rushee.status.type === StatusType.NULL
                    input(type='submit',formmethod='post',formaction=basepath+'/frontdesk/onjaunt',value='On a jaunt')
   
                .rushee-info-item
                  if accountType.isAdmin() || rushee.status.type._id !== 'NULL'
                    span.rushee-status(style='color:' + rushee.status.type.color + ';') #{rushee.status.type.name}
                  else
                    span.rushee-status(style='color:' + StatusType.OUT.color + ';') #{StatusType.OUT.name}
                
                if accountType.isAdmin()
                  .rushee-info-item.rushee-dorm
                    span.rushee-info-type Dorm
                    span.rushee-info-data #{rushee.dorm}
                .rushee-info-item.rushee-phone
                  span.rushee-info-type Phone
                  span.rushee-info-data #{rushee.phone}
                if accountType.isAdmin()
                  .rushee-info-item.rushee-year
                    span.rushee-info-type Year
                    span.rushee-info-data #{rushee.year}
                .rushee-info-item.rushee-email
                  span.rushee-info-type Email
                  span.rushee-info-data #{rushee.email}
                .rushee-info-item.rushee-email
                  span.rushee-info-type MIT ID
                  span.rushee-info-data #{rushee.mitID ? 'Yes' : 'No'}
                if accountType.isAdmin()
                  .rushee-info-item.rushee-meta
                    span.rushee-info-type Meta
                    span.rushee-info-data #{rushee.metadata}
    .frontdesk-markdown-wrapper
      include instructions.md
