extends /common/layout

block head
  title='View'
  link(rel='stylesheet',href=basepath+'/css/view.css')
  script(type='text/javascript',src=basepath+'/js/vendor/jquery-1.8.3.min.js')

block content
  .rushee-wrapper
    .rushee-content.clearfix
      .rushee-info
        .rushee-info-item.rushee-name #{rushee.name}
        .rushee-info-item.rushee-dorm
          span.rushee-info-type Dorm
          span.rushee-info-data #{rushee.dorm}
        .rushee-info-item.rushee-phone
          span.rushee-info-type Phone
          span.rushee-info-data #{rushee.phone}
        .rushee-info-item.rushee-email
          span.rushee-info-type Email
          span.rushee-info-data #{rushee.email}
        .rushee-info-item.rushee-year
          span.rushee-info-type Year
          span.rushee-info-data #{rushee.year}
      form.rushee-action
        -var idName = 'rID';
        -if (rushee.candidate) idName = 'cID';
        input(type='hidden',name='redirect',value='/frontdesk')
        input(type='hidden',name=idName,value='#{rushee._id}')
        -if (rushee.chID !== undefined && rushee.chID !== null)
          input(type='hidden',name='chID',value=rushee.chID)
        input(type='submit',formmethod='post',formaction=basepath+'/frontdesk/inhouse',value='In house')
        input(type='submit',formmethod='post',formaction=basepath+'/frontdesk/outhouse',value='Going out')
        input(type='submit',formmethod='post',formaction=basepath+'/frontdesk/onjaunt',value='On a jaunt')
 