extends /common/layout
include /common/mixins

block head
  title='Jaunt'
  link(rel='stylesheet',href=basepath+'/css/vote.css')

block content
  .jaunt-thread-wrapper
    .jaunt-thread-header
      h2.title Jaunts
    .jaunt-wrapper
      .jaunt-header
        h2.jaunt-title #{jaunt.name}
        a.jaunt-edit(href=basepath + '/jaunt/edit?jID=' + jaunt._id) Edit Jaunt
      .jaunt-content
        .jaunt-van-thread-wrapper
          -for (var j = 0; j < jaunt.vans.length; j++)
            -var van = jaunt.vans[j];
            .jaunt-van-wrapper
              h3.jaunt-van-title #{van.name}
              form.jaunt-van-form(method='post',action=basepath+'/jaunt/pullVanFromJaunt')
                span.jaunt-van-driver #{van.driver}
                  input(type='hidden',name='vID',value=van._id)
                  input(type='hidden',name='jID',value=jaunt._id)
                  input(type='submit',value='Pull van')
              .jaunt-rushee-thread-wrapper
                .jaunt-rushee-thread-header
                  h4.jaunt-rushee-thread-title Rushees
                .jaunt-rushee-thread-content
                  -for (var k = 0; k < van.rushees.length; k++)
                    -var rushee = van.rushees[k];
                    .jaunt-rushee-wrapper
                      .jaunt-rushee-content
                        .jaunt-rushee-info-item.jaunt-rushee-name   
                          form.jaunt-rushee-form(method='post',
                                    action=basepath+'/jaunt/pullRusheeFromVan')
                            a(href=basepath+'/rushee/view?rID='+rushee._id) #{rushee.name}  
                            input(type='hidden',name='vID',value=van._id)
                            input(type='hidden',name='rID',value=rushee._id)
                            input(type='submit',value='Pull rushee')
              .jaunt-brother-thread-wrapper
                .jaunt-brother-thread-header
                  h4.jaunt-brother-thread-title Brothers
                .jaunt-brother-thread-content
                  -for (var k = 0; k < van.brothers.length; k++)
                    -var brother = van.brothers[k];
                    .jaunt-brother-wrapper
                      .jaunt-brother-content
                        .jaunt-brother-name
                          form.jaunt-rushee-form(method='post',
                                    action=basepath+'/jaunt/pullBrotherFromVan')
                            a(href=basepath+'/brother/view?bID='+brother._id) #{brother.name}
                            input(type='hidden',name='vID',value=van._id)
                            input(type='hidden',name='bID',value=brother._id)
                            input(type='submit',value='Pull brother')
                          
  .van-action-wrapper
    h2.title Add a van
    form.van-action-content(method='post',action='#')
      input(type='hidden',name='jID',value='#{jaunt._id}')
      .van-action-item
        span.van-action-name Name
        input.van-action-input(type='text',required,name = 'vName')
      .van-action-item
        span.van-action-name Driver name
        input.van-action-input(type='text',required,name = 'vDriver')
      .van-post
        input#save(type='submit',value='Submit')
                 
  .comment-thread-wrapper
    h2.title Related Comments
    ul.comment-thread-content
      - for (var i = 0; i < jaunt.comments.length; i++)	
        -var comment = jaunt.comments[i];
        +comment(comment, accountType, basepath, {brother : true, rushee: true})
        