extends /common/layout

block head
  title = 'Rush Home'

block content
  h1 Admin links
  h2
    a(href=basepath+'/rushee/search') Go view rushees
  h2
    a(href=basepath+'/brother/search') Go view siblings
  h2
    a(href=basepath+'/rushee/votes') Go view rushee votes
  h2
    a(href=basepath+'/brother/votes') Go view sibling votes
  h2
    a(href=basepath+'/jaunt/list') Go view jaunts
  h2
    a(href=basepath+'/frontdesk') Front Desk
  h2
    a(href=basepath+'/brother/add') Go add siblings
  h2
    a(href=basepath+'/admin/addcandidate') Go add candidates
  h2
    a(href=basepath+'/rushee/add') Go add rushees
  h2
    a(href=basepath+'/rushee/history') Go view history
  h2
    a(href=basepath+'/rushee/log') Go view recent rushees
  h2
    a(href=basepath+'/brother/options') Sibling options
  h2
    a(href=basepath+'/admin/perfstats') View Stats
  h2
    a(href=basepath+'/admin/links') All links
