extends /common/layout

block head
  title = 'Rush Home'

block content
  h1 Admin links
  h2
    a(href=basepath+'/rushee/search') View rushees
  h2
    a(href=basepath+'/brother/search') View brothers
  h2
    a(href=basepath+'/rushee/votes') View rushee votes
  h2
    a(href=basepath+'/brother/votes') View brother votes
  h2
    a(href=basepath+'/jaunt/list') View jaunts
  h2
    a(href=basepath+'/frontdesk') Front Desk
  h2
    a(href=basepath+'/clearinghouse/sync') Sync with clearinghouse
  h2
    a(href=basepath+'/brother/add') Add brothers
  h2
    a(href=basepath+'/rushee/add') Add rushees
  h2
    a(href=basepath+'/rushee/history') View all history
  h2
    a(href=basepath+'/rushee/log') Rushee log
  h2
    a(href=basepath+'/admin/perfstats') View Stats
  h2
    a(href=basepath+'/admin/links') All links
