!!! 5
html(lang='en')
  head
    block head
    link(rel='stylesheet',href=basepath+'/css/main.css')
    link(rel='stylesheet',href=basepath+'/css/normalize.css')
    link(rel='stylesheet',href=basepath+'/css/macro.css')
    link(rel='stylesheet',href=basepath+'/css/master.css')
  body
    include navigation
    p
      if (locals.ts !== null && locals.ts !== undefined)
        a(href=basepath + '/admin/settime') Timestamp is #{ts}
    .content-wrapper
      block content
