!!! 5
html(lang='en')
  head
    block head
    link(rel='stylesheet',href=basepath+'/css/main.css')
    link(rel='stylesheet',href=basepath+'/css/normalize.css')
    link(rel='stylesheet',href=basepath+'/css/macro.css')
    link(rel='stylesheet',href=basepath+'/css/master.css')
  body
    include navigation
    -if (locals.ts !== null && locals.ts !== undefined)
      p Timestamp is #{ts}
    .content-wrapper
      block content
