extends /common/layout

block head
  title='Edit brother'

block content
  .brother-wrapper
    h1.title Edit a brother
    form.brother-add-content
      .brother-add-info
        .brother-add-item.brother-id
          input.brother-add-data(type='hidden',name='bID',value=brother._id)
        .brother-add-item.brother-first-name
          span.brother-add-type First Name
          input.brother-add-data(name='first',required,value=brother.first)
        .brother-add-item.brother-last-name
          span.brother-add-type Last Name
          input.brother-add-data(name='last',required,value=brother.last)
        .brother-add-item.brother-class
          span.brother-add-type Pledge Class
          input.brother-add-data(name='class',value=brother.class)
        .brother-add-item.brother-phone
          span.brother-add-type Phone
          input.brother-add-data(name='phone',value=brother.phone)
        .brother-add-item.brother-email
          span.brother-add-type Email
          input.brother-add-data(name='email',value=brother.email)
      .brother-add-post
        input.save(type='submit',formmethod='post',formaction='',value='Submit')
