extends /common/layout

block head
  title='View all Siblings'  
  link(rel='stylesheet',href=basepath+'/css/viewbrothers.css')

block content
  .brothers-wrapper
    h1.brothers-title View all siblings
    ul.brothers-list
      each brother in brothers
        li.brother-wrapper
          .brother-content.clearfix
            .brother-info
              .brother-info-item.brother-name
                a(href=basepath+'/brother/view?bID='+brother._id) #{brother.name}
              .brother-info-item.brother-class
                span.brother-info-type Pledge Class
                span.brother-info-data #{brother.class}
              .brother-info-item.rushee-phone
                span.brother-info-type Phone
                span.brother-info-data #{brother.phone}
              .brother-info-item.brother-email
                span.brother-info-type Email
                span.brother-info-data #{brother.email}
              .brother-info-item.brother-sponsors
                span.brother-info-type Sponsoring
                if brother.sponsorsNameList.length > 0
                  span.brother-info-data #{brother.sponsorsNameList.join(', ')}
                else
                  span.brother-info-data.missing-sponsor None
              .brother-info-item.brother-votes
                span.brother-info-type Vote score
                span.brother-info-data #{brother.voteScore}
