extends /common/layout

include /common/mixins

block head
  title='View brother summaries'  
  link(rel='stylesheet',href=basepath+'/css/viewbrothersvote.css')

block content
  .brothers-wrapper
    .votes-wrapper
      h1.brothers-title View brother summaries
      .votes-content
        table.votes-table
          tr.votes-header-row
            th.votes-header-name Brother Name
            th.votes-header-cell Please meet
            th.votes-header-cell Sponsoring

          each b in brothers
            tr.votes-row
              td.votes-name #{b.name}
                each voteType in voteTypes
                  -var voteCount = b.countVotesByType[voteType._id]
                  
                  if voteType._id === 'NULL'
                    td.votes-cell
                      each rushee, r in relevantRushees
                        if rushee.voteBy[b._id].type._id === 'NULL' && rushee.visible && rushee.voteScore < bidScore
                          -var relstyle = 'color:' + rushee.status.type.color + ';';
                          -relstyle += rushee.priority ? 'font-weight:bold;' : '';
                          
                          .vote-rushee(style=relstyle)
                            +rusheeName(rushee, accountType, basepath)
              td.votes-cell #{b.sponsorsNameList.join(', ')}   