extends /common/layout
include /common/mixins

block head
  title='Voting'
  link(rel='stylesheet',href=basepath+'/css/viewbrother.css')
  script(type='text/javascript',src=basepath+'/js/vendor/jquery-1.8.3.min.js')
  script(type='text/javascript',src=basepath+'/js/vote.js')

block content
  .brother-wrapper
    .brother-content.clearfix
      .brother-info
        .brother-info-item.brother-name
          a(href=basepath+'/brother/view?bID='+brother._id) #{brother.name}
        .brother-info-item.brother-pledge-class
          span.brother-info-type Pledge Class
          span.brother-info-data #{brother['class']}
        .brother-info-item.brother-phone
          span.brother-info-type Phone
          span.brother-info-data #{brother.phone}
        .brother-info-item.brother-email
          span.brother-info-type Email
          span.brother-info-data #{brother.email}
        .brother-info-item.brother-sponsors
          span.brother-info-type Sponsoring
          if brother.sponsorsNameList.length > 0
            span.brother-info-data #{brother.sponsorsNameList.join(', ')}
          else
            span.brother-info-data.missing-sponsor None
        .brother-info-item.brother-votes
          span.brother-info-type Vote score
          span.brother-info-data #{brother.voteScore}
        .brother-edit
          a(href=basepath+'/brother/edit?bID='+brother._id) edit

  if accountType.isAdmin()
    .brother-action-wrapper
      form.brother-action-content(method='post',action=basepath+'/jaunt/pushBrotherToVan')
        span.brother-action-type Add to van
        input(type='hidden',name='bID',value=brother._id)
        select.jaunt-van-list(name='vID')
          each jaunt in jaunts
            each van in jaunt.vans
              option(value=van._id) #{jaunt.name + ': ' + van.name}
        .post-wrapper
          input#save(type='submit',value='Submit')

    .votes-wrapper
        h2.title Votes
        button.votes-button.spoiler-button(type='button') Show/hide
        .votes-content.spoiler-content
          table.votes-table
            tr.votes-header-row
              th.votes-header-name Rushee Name
              each voteType in voteTypes
                th.votes-header-cell #{voteType.name}
            each vote in brother.sortedVotes
              -var bid = vote.type._id;
              tr.votes-row
                td.votes-name
                  +rusheeName(vote.rushee, accountType, basepath)
                  each voteType in voteTypes
                    -var vid = voteType._id;
                    if bid == vid
                      td.votes-cell.votes
                        if voteType.value < 0
                          strong(style='color:red; font-weight:bold;') X
                        else
                          strong X
                    else
                      td.votes-cell.votes

  .comment-thread-wrapper
    h2.title Comments
      if accountType.isAdmin()
        a(href=basepath+'/rushee/history?bID='+brother._id) (View History)
    ul.comment-thread-content
      each comment in brother.comments
        +comment(comment, accountType, basepath, {rushee: true})
