extends layout

block head
  title = 'Rush Home'

block content
  -if (accountType.isAdmin())
    h1 Admin links
    h2
      a(href=basepath+'/addbrother') Go add brothers
    h2
      a(href=basepath+'/addcandidate') Go add candidates
    h2
      a(href=basepath+'/addrushee') Go add rushees
    h2
      a(href=basepath+'/jaunts') Go view jaunts
    h2
      a(href=basepath+'/viewhistory') Go view voting history
    h2
      a(href=basepath+'/viewrushees') Go view rushees
    h2
      a(href=basepath+'/newrushees') Go view recent rushees
    h2
      a(href=basepath+'/viewrusheevotes') Go view rushee votes
    h2
      a(href=basepath+'/viewbrothers') Go view brothers
    h2
      a(href=basepath+'/viewbrothervotes') Go view brother votes
    h2
      a(href=basepath+'/frontdesk') Front Desk
    h2
      a(href=basepath+'/brotheroptions') Brother options
    h2
      a(href=basepath+'/viewstats') View Stats
  -else if (accountType.isBrother())
    h1 Brother links
    h2
      a(href=basepath+'/viewrushees') Go view rushees
    //
      h2
        a(href=basepath+'/search') Go search for people (NOT READY YET)
