extends layout

block head
  title='Jaunts'
  link(rel='stylesheet',href=basepath+'/css/vote.css')

block content
  .jaunt-thread-wrapper
    .jaunt-thread-header
      h2.title Jaunts
    ul.jaunt-thread-content
      -for (var i = 0; i < jaunts.length; i++)
        -var jaunt = jaunts[i];
        li.jaunt-wrapper
          .jaunt-header
            a.jaunt-title(href=basepath+'/jaunt?jID='+jaunt._id)
              h2 #{jaunt.name}
          .jaunt-content
            .jaunt-van-thread-wrapper
              -for (var j = 0; j < jaunt.vans.length; j++)
                -var van = jaunt.vans[j];
                .jaunt-van-wrapper
                  h3.jaunt-van-title #{van.name}
                  .jaunt-van-driver #{van.driver}
                  .jaunt-rushee-thread-wrapper
                    .jaunt-rushee-thread-header
                      h4.jaunt-rushee-thread-title Rushees
                    .jaunt-rushee-thread-content
                      -for (var j = 0; j < van.rushees.length; j++)
                        -var rushee = van.rushees[j];
                        .jaunt-rushee-wrapper
                          .jaunt-rushee-content
                            .jaunt-rushee-info-item.jaunt-rushee-name
                              a(href=basepath+'/vote?rID='+rushee._id) #{rushee.name}
                  .jaunt-brother-thread-wrapper
                    .jaunt-brother-thread-header
                      h4.jaunt-brother-thread-title Brothers
                    .jaunt-brother-thread-content
                      -for (var j = 0; j < van.brothers.length; j++)
                        -var brother = van.brothers[j];
                        .jaunt-brother-wrapper
                          .jaunt-brother-content
                            .jaunt-brother-name
                              a(href=basepath+'/viewbrother?bID='+brother._id) #{brother.name}
  .jaunt-action-wrapper
    h2.title Add a Jaunt
    form.jaunt-action-content(method='post',action='#')
      .jaunt-action-item
        span.jaunt-action-name Name
        input.jaunt-action-input(type='text',required,name = 'jName')
      .jaunt-action-item
        span.jaunt-action-name Time
        input.jaunt-action-input(type='datetime-local',required,name = 'jTime')
      .jaunt-post
        input#save(type='submit',value='Submit')