mixin rusheeName(rushee, accountType, basepath)
  a(href=basepath+'/vote?rID='+rushee._id) #{rushee.name}
    -if (accountType.isAdmin() && rushee.visible === false)
      |  (hidden)
      
mixin sponsorsName(sponsors, accountType, basepath)
  .sponsors
      
mixin brotherName(brother, accountType, basepath)
  a(href=basepath+'/viewbrother?bID='+brother._id) #{brother.name}

mixin jauntName(jaunt, accountType, basepath)
  -if (accountType.isAdmin())
    a(href=basepath+'/jaunt?jID='+jaunt._id) #{jaunt.name}
  -else
    | #{comment.jaunt.name}

mixin pageStat(name, count, sum, average)
  tr
    td #{name}
    td #{count}
    td #{sum}
    td #{average}
    
mixin rushee(rushee, accountType, basepath, options)
  -if (options === undefined)
    options = {};
  .rushee-content.clearfix
    rushee-photo-and-status.lfloat
      a.rushee-photo(href=basepath+'/vote?rID='+rushee._id)
        -if (options.largeimg)
          img.img-large(src=basepath+rushee.photo,alt=rushee.name)
        -else
          img.img-medium(src=basepath+rushee.photo,alt=rushee.name)
      .rushee-status(style='color:#{rushee.status.type.color};') #{rushee.status.type.name}
      -if (rushee.priority)
        .rushee-priority Priority
    .rushee-info
      .rushee-info-item.rushee-name
        a(href=basepath+'/vote?rID='+rushee._id) #{rushee.name}
          -if (accountType.isAdmin() && rushee.visible === false)
            |  (hidden)
      -if (options.time)
        .rushee-info-item.rushee-time #{rushee.time}
      .rushee-info-item.rushee-dorm
        span.rushee-info-type Dorm
        span.rushee-info-data #{rushee.dorm}
      .rushee-info-item.rushee-phone
        span.rushee-info-type Phone
        span.rushee-info-data #{rushee.phone}
      .rushee-info-item.rushee-email
        span.rushee-info-type Email
        span.rushee-info-data #{rushee.email}
      .rushee-info-item.rushee-year
        span.rushee-info-type Year
        span.rushee-info-data #{rushee.year}
      .rushee-info-item.rushee-sponsors
        span.rushee-info-type Sponsor(s)
        - if (rushee.sponsorsNameList.length > 0)
          span.rushee-info-data #{rushee.sponsorsNameList.join(', ')}
        - else
          span.rushee-info-data.missing-sponsor NEED SPONSOR
      .rushee-info-item.rushee-jaunts
        span.rushee-info-type Jaunt(s)
        span.rushee-info-data #{rushee.vansNameList.join(', ')}
      -if (rushee.cross1 !== 'None')
        .rushee-info-item.rushee-cross
          span.rushee-info-type Cross Rush(s)
          -var cross = rushee.cross1;
          -if (rushee.cross2 !== 'None')
            -cross += ', ' + rushee.cross2;
          span.rushee-info-data #{cross}
      .rushee-info-item.rushee-votes
        span.rushee-info-type Voting score
        span.rushee-info-data #{rushee.voteScore}
      -if (options.edit)
        .rushee-edit
          a(href=basepath+'/editrushee?rID='+rushee._id) edit

    -if (accountType.isAdmin())
      form.rushee-action
        input(type='hidden',name='redirect',value=basepath+'/viewrushees')
        input(type='hidden',name='rID',value='#{rushee._id}')
        input(type='submit',formmethod='post',formaction=basepath+'/inhouse',value='In house')
        input(type='submit',formmethod='post',formaction=basepath+'/outhouse',value='Going out')
        input(type='submit',formmethod='post',formaction=basepath+'/onjaunt',value='On a jaunt')

mixin comment(comment, accountType, basepath, options)
  -if (basepath === undefined)
    var basepath = '';
  -if (options === undefined)
    options = {};
  li.comment-wrapper
    .comment-content
      .comment-header
        -if (options.brother)
          span.comment-header-element.comment-name
            +brotherName(comment.brother, accountType, basepath)
        -else if (options.rushee)
          span.comment-header-element.comment-name
            +rusheeName(comment.rushee, accountType, basepath)
        span.comment-header-element.comment-type(style='color:#{comment.type.color};') #{comment.type.name}
        -if (comment.jaunt !== undefined)
          span.comment-header-element.comment-jaunt
            +jauntName(comment.jaunt, accountType, basepath)
        -if (options.rushee && options.brother)
          span.comment-header-element.comment-rushee
            +rusheeName(comment.rushee, accountType, basepath)
        .comment-text #{comment.text}
        -if (accountType.isAdmin())
          a.comment-edit(href=basepath+'/editcomment?cID='+comment._id) edit
        .comment-time #{comment.time}
