extends layout

block head
  title='View all Rushees'  
  link(rel='stylesheet',href=basepath+'/css/viewrushees.css')
 

block content
  .rushees-wrapper
    h1.rushees-title View all rushees
    form.rushees-search
      .search-bar
        input#search(type='text', name = 'q', value = '#{q}')
        input(type='submit',formmethod='get',formaction=basepath+'/viewrushees', value='Search')
      .search-options
        -if (inhouse === 'on')
          input#inhouse(type='checkbox', name = 'inhouse', checked)
        -else
          input#inhouse(type='checkbox', name = 'inhouse')
        label.toggle-choice(for='inhouse') In
      
        -if (outhouse === 'on')
          input#outhouse(type='checkbox', name = 'outhouse', checked)
        -else
          input#inhouse(type='checkbox', name = 'outhouse')
        label.toggle-choice(for='outhouse') Out
      
        -if (onjaunt === 'on')
          input#onjaunt(type='checkbox', name = 'onjaunt', checked)
        -else
          input#onjaunt(type='checkbox', name = 'onjaunt')
        label.toggle-choice(for='onjaunt') Jaunt
        
        -if (priority === 'on')
          input#priority(type='checkbox', name = 'priority', checked)
        -else
          input#priority(type='checkbox', name = 'priority')
        label.toggle-choice(for='priority') Priority
        
    ul.rushees-list
      -for(var i = 0; i < rushees.length; i++)
        -var rushee = rushees[i];
        -if (rushee.visible === false && !accountType.isAdmin()) continue;
        -if (inhouse === 'on' && rushee.status.type._id !== 'IN') continue;
        -if (priority === 'on' && rushee.priority !== true) continue; 
        -if (onjaunt === 'on' && rushee.status.type._id !== 'JAUNT') continue;
        -if (outhouse === 'on' && rushee.status.type._id !== 'OUT') continue;
        li.rushee-wrapper
          .rushee-content.clearfix
            rushee-photo-and-status.lfloat
              a.rushee-photo(href=basepath+'/vote?rID='+rushee._id)
                img.img-medium(src=basepath+rushee.photo,alt=rushee.name)
              .rushee-status(style='color:#{rushee.status.type.color};') #{rushee.status.type.name}
              -if (rushee.priority)
                .rushee-priority Priority
            .rushee-info
              .rushee-info-item.rushee-name
                a(href=basepath+'/vote?rID='+rushee._id) #{rushee.name}
                  -if (accountType.isAdmin() && rushee.visible === false)
                    |  (hidden)
              .rushee-info-item.rushee-dorm
                span.rushee-info-type Dorm
                span.rushee-info-data #{rushee.dorm}
              .rushee-info-item.rushee-phone
                span.rushee-info-type Phone
                span.rushee-info-data #{rushee.phone}
              .rushee-info-item.rushee-email
                span.rushee-info-type Email
                span.rushee-info-data #{rushee.email}
              .rushee-info-item.rushee-year
                span.rushee-info-type Year
                span.rushee-info-data #{rushee.year}
              .rushee-info-item.rushee-sponsors
                span.rushee-info-type Sponsor(s)
                - if (rushee.sponsorsNameList.length > 0)
                  span.rushee-info-data #{rushee.sponsorsNameList.join(', ')}
                - else
                  span.rushee-info-data.missing-sponsor NEED SPONSOR
              .rushee-info-item.rushee-votes
                span.rushee-info-type Voting score
                span.rushee-info-data #{rushee.voteScore}
 