extends layout

block head
  title='View all Brother Votes'  
  link(rel='stylesheet',href=basepath+'/css/viewbrothersvote.css')

block content
  .brothers-wrapper
    h1.brothers-title View all brothers votes
    .votes-wrapper
      h2.title Votes
      .votes-content
        table.votes-table
          tr.votes-header-row
            th.votes-header-name Brother Name
            -for (var i = 0; i < voteTypes.length; i++)
              -var voteType = voteTypes[i];
              th.votes-header-cell #{voteType.name}
            -for (var i = 0; i < brothers.length; i++)
              -var b = brothers[i];
              tr.votes-row
              td.votes-name #{b.name}
                -for (var j = 0; j < voteTypes.length; j++)
                  -var voteType = voteTypes[j];
                  -var list = b.votesByType[voteType._id]
                  td.votes-cell
                    -if (voteType._id === 'NULL')
                      -for (var vote in list)
                        -if (list[vote].rushee.status.type._id === 'IN')
                          .vote-rushee #{list[vote].rushee.name}
                    -else
                      | #{list.length}

                     