extends layout

block head
  title='Voting'
  link(rel='stylesheet',href=basepath+'/css/viewbrother.css')

block content
  .brother-wrapper
    .brother-content.clearfix
      .brother-info
        .brother-info-item.brother-name
          a(href=basepath+'/viewbrother?bID='+brother._id) #{brother.name}
        .brother-info-item.brother-pledge-class
          span.brother-info-type Pledge Class
          span.brother-info-data #{brother['class']}
        .brother-info-item.brother-phone
          span.brother-info-type Phone
          span.brother-info-data #{brother.phone}
        .brother-info-item.brother-email
          span.brother-info-type Email
          span.brother-info-data #{brother.email}
        .brother-info-item.brother-sponsors
          span.brother-info-type Sponsoring
          - if (brother.sponsorsNameList.length > 0)
            span.brother-info-data #{brother.sponsorsNameList.join(', ')}
          - else
            span.brother-info-data.missing-sponsor None
        .brother-info-item.brother-votes
          span.brother-info-type Vote score
          span.brother-info-data #{brother.voteScore}
        .brother-edit
          a(href=basepath+'/editbrother?bID='+brother._id) edit
  
  -if (accountType.isAdmin())
    .brother-action-wrapper
      form.brother-action-content(method='post',action=basepath+'/pushBrotherToVan')
        span.brother-action-type Add to van
        input(type='hidden',name='bID',value='#{brother._id}')     
        select.jaunt-van-list(name='vID')
          -for (var i = 0; i < jaunts.length; i++)
            -var jaunt 	= jaunts[i];
            -for (var j = 0; j < jaunt.vans.length; j++)
              -var van = jaunt.vans[j]
              option(value='#{van._id}') #{jaunt.name + ': ' + van.name}
        .post-wrapper
          input#save(type='submit',value='Submit')
  
  .comment-thread-wrapper
    h2.title Comments
    ul.comment-thread-content
      - for (var i = 0; i < brother.comments.length; i++)	
        -var comment = brother.comments[i];
        li.comment-wrapper
          .comment-content
            .comment-header
              span.comment-header-element.comment-name #{comment.rushee.name}
              span.comment-header-element.comment-type(style='color:#{comment.type.color};') #{comment.type.name}
            .comment-text #{comment.text}
            .comment-time #{comment.time}


 