extends layout

block script

block head
  title='Voting'
  style(type='text/css')
    .rushee-wrapper{display:block;}
    .lfloat{float:left;}
    ._large{width:160px; height:160px;}
    .rushee-info{margin-left:180px;}
    .rushee-name{font-size:1.5em}
    table {border-collapse: collapse;}
    td {vertical-align:top; border: 1px solid #98BF21;padding: 3px 7px 2px 7px;}
    td.alt {background-color:#EAF2D3;}
    a {color:#3B5998; text-decoration:none;}
    a:hover {text-decoration:underline;}
    a:active {text-decoration:underline;}

block content
  - var brother = {first:'Jeff', last:'Shen',class:'Celeritas'}
  - var rushee = {id: 'ID', first: 'First', last: 'Last', nick: 'Nick', dorm: 'MacGregor', phone: '(555) 555-555', email: 'email@mit.edu', photo: '/img/Mc4M1.jpg'}
  - var sponsors = []
  - var vote = 9000
  - var brothers = [{id: '1', first: 'Jeff', last: 'Shen'}]
  - var types = ['Contact','Hobbies/Interests','Event/Jaunt Interest','Urgent','General']
  - var jaunts = ['Jaunt 1', 'Jaunt 2']
  - var comments = [{time:'4324', type:'Contact', text:'Contacted someone about blah and blah, said they\'d be over for dinner tomorrow', name: 'Jeff Shen'}]
  - rushee['name']=''
  - if (rushee.nick != ''){rushee.name = rushee.first+' \"'+rushee.nick+'\" '+ rushee.last} else {rushee.name = rushee.first+' ' +rushee.last}
  
  .rushee-wrapper.clearfix
    a.rushee-photo.lfloat(href='/vote?RusheeID='+rushee.id)
      img._large(src=rushee.photo,alt=rushee.name)
    .rushee-info
      .rushee-name
        a(href='/vote?RusheeID='+rushee.id) #{rushee.name}
  
  form(action='/')
    table
      tbody
        tr
          td Brother:
          td #{brother}
        tr
          td.alt Rushee:
          td.alt #{rushee}
        tr
          td Phone Number:
          td #{phone}
        tr
          td.alt Sponsor(s):
          td.alt 
            - if (sponsor != null)
              | #{sponsor}
            - else
              b NEED SPONSOR
            br
            label Sponsor Me
              input#sponsorYes(type='checkbox',name='sponsor',value='sponsorYes')
        tr
          td Vote:
          td
            table
              thead
                td Definite Yes
                td Yes
                td No
                td Veto
                td None
              tr 
                td
                  input#voteDefiniteYes(type='radio',name='vote',value='voteDefiniteYes')
                td
                  input#voteYes(type='radio',name='vote',value='voteYes')
                td
                  input#voteNo(type='radio',name='vote',value='voteNo')
                td
                  input#voteVeto(type='radio',name='vote',value='voteVeto')
                td
                  input#voteNone(type='radio',name='vote',value='voteNone',checked='checked')
        tr
          td.alt Comment:
          td.alt Type:
            - var types = [{value: 'location', name: 'location'}]
            select#commentType
              -for type in types
                option(value='#{type.value}') #{type.name}
            br
            textarea#comment(rows=5,cols=40)
        tr
          td Comments:
          td 
            table
              thead
                td Time
                td Type
                td Text
                td Name
              -for comment in comments
                tr
                  td #{comment.time}
                  td #{comment.type}
                  td(style='width:256px') #{comment.text}
                  td #{comment.name}
        tr
          td.alt
            input#save(type='submit',formmethod='post',formaction='/vote',value='Submit')
          td.alt
            input#done(type='button',name='Done',value='Done',onclick='window.location=\'/\'')
          
            
    