extends layout

block script

block head
  title='Voting'
  link(rel='stylesheet',href='/css/vote.css')

block content
  - var brother = {first:'Jeff', last:'Shen',class:'Celeritas',vote:'None', voteTime:'1/17/2013 2:46 AM', sponsor:false}
  - var rushee = {id: 'ID', first: 'First', last: 'Last', nick: 'Nick', dorm: 'MacGregor', phone: '(555) 555-555', email: 'email@mit.edu', photo: '/img/Mc4M1.jpg'}
  - var sponsors = ['Jeff Shen', 'Jon Chien']
  - var vote = 9000
  - var voteTypes = ['Definite Yes', 'Yes', 'No', 'Veto', 'None']
  - var brothers = [{id: '1', first: 'Jeff', last: 'Shen', class: 'Celeritas'}]
  - var types = ['General','Contact','Hobbies/Interests','Event/Jaunt Interest','Urgent']
  - var jaunts = ['Jaunt 1', 'Jaunt 2']
  - var comments = [{time:'1/16/2013 5:06 AM', type:'Contact', text:'Contacted someone about blah and blah, said they\'d be over for dinner tomorrow', name: 'Jeff Shen'}]
  
  - if (brother == null)
    - brother = {vote: 'None', sponsor:'false', name:null}
  -else
    - brother.name = '#{brother.first} #{brother.last}'
  - if (rushee.nick != '')
    -rushee.name = rushee.first+' \"'+rushee.nick+'\" '+ rushee.last
  -else
    -rushee.name = rushee.first+' ' +rushee.last

  
  .rushee-wrapper
    .rushee-content.clearfix
      a.rushee-photo.lfloat(href='/vote?RusheeID='+rushee.id)
        img._large(src=rushee.photo,alt=rushee.name)
      .rushee-info
        .rushee-info-item#rushee-name
          a(href='/vote?RusheeID='+rushee.id) #{rushee.name}
        .rushee-info-item#rushee-dorm
          span.rushee-info-type Dorm
          span.rushee-info-data #{rushee.dorm}
        .rushee-info-item#rushee-phone
          span.rushee-info-type Phone
          span.rushee-info-data #{rushee.phone}
        .rushee-info-item#rushee-email
          span.rushee-info-type Email
          span.rushee-info-data #{rushee.email}
        .rushee-info-item#rushee-sponsors
          span.rushee-info-type Sponsor(s)
          - if (sponsors.length > 0)
            span.rushee-info-data #{sponsors.join(', ')}
          - else
            span.rushee-info-data#missing-sponsor NEED SPONSOR
        .rushee-info-item#rushee-votes
          span.rushee-info-type Voting score
          span.rushee-info-data #{vote}
        
  .brother-action-wrapper
    .brother-action-content
      .sponsor-wrapper
        .sponsor-content
          span.brother-action-type Sponsor
          -if (brother.sponsor)
            input.span-space#sponsorYes(type='radio',name='sponsor',value='Yes',checked)
            label.sponsor-choice(for='sponsorYes') Yes
            input.span-space#sponsorNo(type='radio',name='sponsor',value='No')
            label.sponsor-choice(for='sponsorNo') No
          -else
            input.span-space#sponsorYes(type='radio',name='sponsor',value='Yes')
            label.sponsor-choice(for='sponsorYes') Yes
            input.span-space#sponsorNo(type='radio',name='sponsor',value='No',checked)
            label.sponsor-choice(for='sponsorNo') No
          
          
      .vote-wrapper
        .vote-content
          span.brother-action-type Vote
          - for (var i = 0; i < voteTypes.length; i++)
            - var voteType = voteTypes[i];
            - if (brother.vote === voteType)
              input.span-space(id = 'vote#{i}',type='radio',name='vote',value='#{voteType}',checked)
            -else
              input.span-space(id = 'vote#{i}', type='radio',name='vote',value='#{voteType}')
            label.vote-choice(for ='vote#{i}') #{voteType}
        
      form.comment-wrapper
        .comment-content.clearfix
          span.brother-action-type Comment
          .comment-textarea
            textarea#comment(name='comment',rows=5,cols=80)
          .comment-type
            .comment-type.lfloat
              span.brother-action-type Type
              select#comment-type(name='comment-type')
                -for type in types
                  option #{type}
            .comment-jaunt
              span.brother-action-type Jaunt
              select#comment-jaunt(name='comment-jaunt')
                option None
                -for jaunt in jaunts
                  option(value='#{jaunt}') #{jaunt}
      .brother-wrapper
        span.brother-action-type Name
        -if (brother.name === null) 
          input.brother-box#brother-name(list='brothers')
        -else
          span.brother-info#brother-name #{brother.first} #{brother.last}
        -if (brother.name === null)
          datalist.brother-list#brothers
            -for (b in brothers)
              option(value='#{b.id}') #{b.first} #{b.last} (#{b.class})
      .post-wrapper
        input#save(type='submit',formmethod='post',formaction='/vote',value='Submit')
        input#done(type='button',name='Done',value='Done',onclick='window.location=\'/\'')
      
  ul.comment-thread-wrapper
    .title Comments
    - for comment in comments	
      il.comment-wrapper
        .comment-content
          .comment-header
            span.comment-header-element.comment-name #{comment.name}
            span.comment-header-element.type #{comment.type}
            span.comment-header-element.time #{comment.time}
          .comment-text #{comment.text}


 