extends layout

block head
  title='Voting'
  link(rel='stylesheet',href='/css/vote.css')

block content
  .rushee-wrapper
    .rushee-content.clearfix
      a.rushee-photo.lfloat(href='/vote?rusheeID='+rushee._id)
        img.img-large(src=rushee.photo,alt=rushee.name)
      .rushee-info
        .rushee-info-item.rushee-name
          a(href='/vote?rusheeID='+rushee._id) #{rushee.name}
        .rushee-info-item.rushee-dorm
          span.rushee-info-type Dorm
          span.rushee-info-data #{rushee.dorm}
        .rushee-info-item.rushee-phone
          span.rushee-info-type Phone
          span.rushee-info-data #{rushee.phone}
        .rushee-info-item.rushee-email
          span.rushee-info-type Email
          span.rushee-info-data #{rushee.email}
        .rushee-info-item.rushee-sponsors
          span.rushee-info-type Sponsor(s)
          - if (rushee.sponsors.length > 0)
            span.rushee-info-data #{rushee.sponsors.join(', ')}
          - else
            span.rushee-info-data.missing-sponsor NEED SPONSOR
        .rushee-info-item.rushee-votes
          span.rushee-info-type Voting score
          span.rushee-info-data #{rushee.vote}
        
  .brother-action-wrapper
    form.brother-action-content
      input(type='hidden',name='rusheeID',value='#{rushee._id}')
      -if (brother == null)
        .brother-wrapper
          span.brother-action-type Name
          select.brother-list#brothers(name='brotherID')
            -for (var i = 0; i < brothers.length; i++)
              -var b = brothers[i];
              option(value='#{b._id}') #{b.first} #{b.last} (#{b.class})
         button#brother-select-button(formmethod='get',formaction='/vote',value='Select') Select
      -else
        input(type='hidden',name='brotherID',value='#{brother._id}')
        .brother-wrapper
          span.brother-action-type Name
          span.brother-info#brother-name #{brother.first} #{brother.last}
        .sponsor-wrapper
          .sponsor-content
            span.brother-action-type Sponsor
            -if (brother.sponsor)
              input.span-space#sponsorYes(type='radio',name='sponsor',value='Yes',checked)
              label.sponsor-choice(for='sponsorYes') Yes
              input.span-space#sponsorNo(type='radio',name='sponsor',value='No')
              label.sponsor-choice(for='sponsorNo') No
            -else
              input.span-space#sponsorYes(type='radio',name='sponsor',value='Yes')
              label.sponsor-choice(for='sponsorYes') Yes
              input.span-space#sponsorNo(type='radio',name='sponsor',value='No',checked)
              label.sponsor-choice(for='sponsorNo') No
        .vote-wrapper
          .vote-content
            span.brother-action-type Vote
            #{brother.vote}
            - for (var i = 0; i < voteTypes.length; i++)
              - var voteType = voteTypes[i];
              - if (brother.vote == voteType._id)
                input.span-space(id = 'vote#{i}',type='radio',name='vote',value='#{voteType._id}',checked)
              -else
                input.span-space(id = 'vote#{i}', type='radio',name='vote',value='#{voteType._id}')
              label.vote-choice(for ='vote#{i}') #{voteType.name}
        .comment-wrapper
          .comment-content.clearfix
            span.brother-action-type Comment
            .comment-textarea-wrapper
              textarea#comment-textarea(name='comment',rows=5,cols=80)
            .comment-type
              .comment-type.lfloat
                span.brother-action-type Type
                select#comment-type(name='comment-type')
                  -for (var i = 0; i < commentTypes.length; i++)
                    option #{commentTypes[i].name}
              .comment-jaunt.rfloat
                span.brother-action-type Jaunt
                select#comment-jaunt(name='comment-jaunt')
                  -for (var i in jaunts)
                    option(value='#{jaunts[i]}') #{jaunts[i]}
        .post-wrapper
          input#save(type='submit',formmethod='post',formaction='/vote',value='Submit')
          input#done(type='submit',formmethod='get',formaction='/',value='Done')
      
  .comment-thread-wrapper
    h2.title Comments
    ul.comment-thread-content
      - for (var i = 0; i < rushee.comments.length; i++)	
        -var comment = rushee.comments[i] 
        li.comment-wrapper
          .comment-content
            .comment-header
              span.comment-header-element.comment-name #{comment.name}
              span.comment-header-element.type #{comment.type}
              span.comment-header-element.time #{comment.time}
            .comment-text #{comment.text}


 